﻿@model WebApplication2.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body {background-color: #F1F1F1;}
    </style>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.example.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "mySmtpUsername";
            WebMail.Password = "mySmtpPassword";
            WebMail.From = "rsvps@example.com";

            WebMail.Send("party-host@example.com", "RSVP Notif", Model.Name + 
            ((Model.WillAttend ?? false) ? "" : "not") + "attending");
        }
        catch (Exception)
        {
            @:<b> Sorry, we couldn't send the email to confirm your RSVP.</b>
        }
        }
    <div class="text-center">
        <h1> Thank you, @Model.Name!</h1>
        <div class="lead">
        @if (Model.WillAttend == true)
        {
            @: It's great that you're coming.
        }
        else
        {
            @: Sorry to hear you can't make it.
        }
    </div>
        </div>
</body>
</html>
